<div class="wishlist-container">
  <h2>Your Wishlist</h2>

  <div *ngIf="wishlist.length === 0">
    <p>Your wishlist is empty.</p>
  </div>

  <div *ngIf="wishlist.length > 0" class="wishlist-grid">
    <div *ngFor="let item of wishlist" class="wishlist-card">
      <img [src]="item.imageUrl" alt="{{ item.name }}" />
      <div class="wishlist-details">
        <h4>{{ item.name }}</h4>
        <p class="price">RM {{ item.price.toFixed(2) }}</p>
        <p class="category">Category: {{ item.category.name }}</p>
        <button (click)="removeFromWishlist(item.id)">Remove</button>
      </div>
    </div>
  </div>
</div>
